$colorLightBlue1: rgb(65, 159, 228);
$colorLightBlue2: rgb(228, 253, 255);
$colorDark1: rgba(0, 0, 0, 0.6);
$colorDark2: rgb(0, 0, 0);

$colorWhiteTransparent1: rgba(255, 255, 255, 0.128);
$colorGray1: rgb(196, 196, 196);
$colorGray2: rgb(89, 116, 148);
$colorGray3: rgb(163, 166, 172);
$colorGray4: rgb(249, 249, 249);
$colorGray5: rgb(214, 214, 214);

$colorWhite1: rgb(255, 255, 255);
$colorWhite2: rgb(248, 248, 248);

$colorLightPurple1: rgb(187, 209, 255);

$colorGreen1: rgb(71, 159, 119);

$colorOrange1: rgb(236, 144, 36);

$colorRed1: rgb(216, 58, 86);